.bigsquare {
  background-color: black;
  height: 412px;
  width: 412px;
  padding: 10px;
  border-radius: 5px;
}

.square {
  background-color: #E6461A;
  height: 96px;
  width: 96px;
  float: left;
  margin: 1px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  cursor: pointer;
}

/* unselectable text */
.bigsquare p {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  color: #FFFFFF;
  padding-top: 20px;
}
